.container {
    padding: 4px 10px;
}

.image {
    object-fit: contain;
    aspect-ratio: 1;
}

.upperImage {
    max-width: 50px;
}

.lowerImage {
    max-width: 40px;
}

.upperContainer:first-child {
    padding-top: 12px;
}

.lowerContainer:last-child {
    padding-bottom: 12px;
}