.position {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: 12px;
}

.position:first-child {
    padding-top: 0px;
}

.header {
    font-family: 'Roboto Mono';
    margin-bottom: 4px;
}

.company {
    font-size: 22px;
}

.title {
    font-size: 14px;
    padding-left: 12px;
    flex-shrink: 0;
}

.dotContainer {
    display: flex;
}

.dot {
    padding-right: 2px;
}

.bulletContainer {
    padding-left: 20px;
}
.bullet {
    font-size: 18px;
}