.position {
    font-family: courier;
}

.header {
    display: flex;
    align-items: baseline;
}

.company {
    font-size: 22px;
}

.title {
    font-size: 14px;
    padding-left: 12px;
}

.bulletContainer {
    padding-left: 20px;
}
.bullet {
    font-size: 18px;
}