.position {
    font-family: courier;
    padding-top: 12px;
}

.position:nth-child(1) {
    padding-top: 0px;
}

.header {
    display: flex;
    align-items: last baseline;
}

.company {
    font-size: 22px;
}

.title {
    font-size: 14px;
    padding-left: 12px;
    flex-shrink: 0;
}

.bulletContainer {
    padding-left: 20px;
}
.bullet {
    font-size: 18px;
}