.container {
    width: 100%;
    max-width: 640px;
    margin: auto;
    mask-image: linear-gradient(to bottom, transparent 0, black 40px, black calc(100% - 40px), transparent 100%);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.text {
    margin: 20px 0;
    font-size: 20px;
    flex: 1;
}

.spacer {
    height: 40px;
    width: 20px;
}