.container {
    --fade-length: 60px;
    height: 100%;
    width: 100%;
    overflow: auto;
    max-width: 640px;
    margin: auto;
    padding: 0px 12px;
    mask-image: linear-gradient(to bottom, transparent 0, black var(--fade-length, 40px), black calc(100% - var(--fade-length, 40px)), transparent 100%);
    display: flex;
    flex-direction: column;
}

.content {
    padding: var(--fade-length, 40px) 0px;
    font-size: 20px
}