.sidebar {
    padding-top: 8px;
    width: 60px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-color: purple;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
}

.separator {
    flex: 1
}