
body {
  min-height: 100vh;
  background-color: black;
  background-image: linear-gradient(rgb(95, 0, 95), black);
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
}

.App {
  height: 100vh;
}